@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>EncouroCon began on a whiteboard. Every day, as the rules work, if I felt like I beat the depression for the day, I got a move, if not, it did. Over the months, I
    found it encouraging, seeing the progress I was making, the occasional setbacks, but just the visual of it in general. So I decided to make this app, the digital version of that.
</p>
