@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EncouroCon</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>
            Welcome to the community! Click below to register:
        </p>
        @Html.ActionLink("Register", "Register", "Account")
    </div>
    <div class="col-md-4">
        <h2>Sign In</h2>
        <p>Returning fighter? Click below to go to your page:</p>
        @Html.ActionLink("Sign In", "Index", "Game")
    </div>
</div>