@model EncouroCon.Models.HolderModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<canvas id="canvas"></canvas>
<br />
@Html.DisplayNameFor(model => model.mapServ)
<br />
@Html.DisplayNameFor(model => model.dayServ)