@model EncouroCon.Web.Controllers.HolderModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<canvas id="mapCan"></canvas>
<br />
@Html.DisplayNameFor(model => model.mapServ)
<br />
@Html.DisplayNameFor(model => model.dayServ)
@Html.HiddenFor(model => model.mapServ.GetMapByID(0).Planets)


<script src="../Scripts/customs/Art.js"></script>
<script src="../Scripts/customs/MapHandler.js"></script>
<script>
    index();
</script>