@model EncouroCon.Web.Controllers.HolderModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <canvas id="mapCan"></canvas>
</div>
<div>
    @{
        var date = Model.map.LastMove;
        var hours = (DateTime.Now - date).TotalHours;
        <div>
            @{ if (hours >= 18)
                {
                    <div>
                        <button>Good</button>
                        <button>Bad</button>
                    </div>
                    <div>
                        <input type="text" id="reasInp" />
                    </div>
                }
                else
                {
                    <div>
                        Come back in
                        @Html.Label((hours).ToString())
                        hour(s)!
                    </div>
                }
            }
        </div>
    }
</div>

<div>
    <input type="hidden" id="ugg" />
    @Html.HiddenFor(model => model.map.Colours)
    @Html.HiddenFor(model => model.map.Planets)
    @Html.HiddenFor(model => model.map.Edges)
</div>

<script src="../Scripts/customs/Art.js"></script>
<script src="../Scripts/customs/UIHandler.js"></script>
<script src="../Scripts/customs/MapHandler.js"></script>
<script>
    index();
</script>