@model EncouroCon.Web.Controllers.HolderModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <canvas id="mapCan"></canvas>
</div>
<div>
    @{ 
//var date = Model.mapServ.GetMapByID(1).LastMove;
    }
</div>
<div>
    <input type="radio" id="Ye" name="inp" />
    <label for="Ye">Ye</label>

    <input type="radio" id="Ye1" name="inp" />
    <label for="Ye1">Ye</label>

    <input type="radio" id="Ye2" name="inp" />
    <label for="Ye2">Ye</label>

    <input type="radio" id="Ye3" name="inp" />
    <label for="Ye3">Ye</label>
</div>

<script src="../Scripts/customs/Art.js"></script>
<script src="../Scripts/customs/MapHandler.js"></script>
<script>
    index();
</script>