@model EncouroCon.Web.Controllers.HolderModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<canvas id="canvas"></canvas>
<script src="../Scripts/customs/MapHandler.js"></script>
<br />
@Html.DisplayNameFor(model => model.mapServ)
<br />
@Html.DisplayNameFor(model => model.dayServ)