@model EncouroCon.Web.Controllers.HolderModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<canvas id="canvas"></canvas>
<br />
@Html.DisplayNameFor(model => model.mapServ)
<br />
@Html.DisplayNameFor(model => model.dayServ)

<input type="hidden" value="Sneaky snake?" id="yeye" />

<input type="hidden" value="#f298c5" id="holdy" />

<script src="../Scripts/customs/Art.js"></script>
<script src="../Scripts/customs/MapHandler.js"></script>