@model EncouroCon.Web.Controllers.HolderModel
@{
    ViewBag.Title = "Setup";
}

<h2>Welcome</h2>

<canvas id="canvas"></canvas>
<script src="../Scripts/customs/Art.js"></script>
<script src="../Scripts/customs/MapHandler.js"></script>